{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="cart-body">
	<input type="hidden" name="user" class="user" value="{{ user.id }}">
	<h2 class="cart-header">MON PANIER</h2>
	<div class="cart-row">
		<span class="cart-item cart-column">ARTICLE</span>
		<span class="cart-price cart-column">PRIX</span>
		<span class="cart-quantity cart-column">QUANTITE</span>
	</div>
	<hr>
	<div class="cart-items">
<!-- 		<div class="cart-row">
			<div class="cart-item">
				<img class="cart-item-image" src="{% static '/img/3.jpeg' %}">
				<span class="cart-item-name">T-Shirt</span>
			</div>
			<span class="cart-price cart-column" style="margin-left: 50px">19.99€</span>
			<div class="cart-quantity cart-column">
				<input class="cart-quantity-input" type="number" value="1">
				<button class="btn-danger" type="button">Supprimer</button>
			</div>
		</div> -->
	</div>
	<div class="cart-total">
		<strong class="cart-total-title" style="padding-right: 10px;">Total</strong>
		<span class="cart-total-price"></span>
	</div>
	<br>
	<br>
	<div class="cart-order">
		<a href="{% url 'checkout' %}"><button class="btn-order" type="button">Commander</button></a> 
	</div>
</div>
<script type="module" src="{% static 'js/myCart.js' %}"></script>
{% endblock %}