{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="collection">
	{% for category in categories  %}
	<div class="{{ category.name }} cat">
		<hr style="width: 30%;">
		<form class="category" action = "{% url 'products' %}" method = "get">
			<input  class="btn-category"  id="{{ category.name }}" type="submit" value="{{ category.name }}" name="category">
			<br>
	    	<img src="{{ category.image }}" alt="{{ category.name }}">
		</form>
		<hr style="width: 30%;">
	</div>
	{% endfor %}
</div>
{% endblock %}