{% load static %}

{% block content %}
<div class="bg-modal">
	<div class="modal-content">
		<img class="element modal-image" src="">
		<h2 class="element modal-brand"></h2>
		<h3 class="element modal-name"></h3>
		<p class="element modal-description"></p>
		<h3 class="element modal-price"></h3>
		<h3 class="element">Tailles disponibles</h3>
		<select class="element modal-size" id="size">
			<option value="taille" selected="selected">--</option>
		</select>
		<div class="close">+</div>
		<div class="modal-btn">
			<input type="hidden" class="user" name="user" value="{{ user.id }}">
			<button type="button" class="element add-to-cart">Ajouter au panier</button>
		</div>
	</div>
</div>
<script type="module" src="{% static 'js/modal.js' %}"></script>
{% endblock %}