{% extends 'base.html' %}

{% load static %}
{% load page_tags %}

{% block content %}
<div class="title-collection">
	{% for product in product_category %}
	<h1>{{ product.category }}</h1>
	{% endfor %}
</div>
<div class="collection">
	<div class="side-nav">
		<ul class="category-list">
			<h3>Categories</h3>
			{% for category in categories %}
			<form action = "{% url 'products' %}" method = "get">
				<input  class="btn-category" id="side-category" type="submit" value="{{ category.name }}" name="category">
			</form>
			{% endfor %}
		</ul>
		<h3>Marques</h3>
		<ul class="brand-list">
			{% for brand in brands %}
			<li>
			<form action = "{% url 'bybrand' %}" method = "get">
				<input  class="btn-category" id="side-category" type="submit" value="{{ brand }}" name="brand">
			</form>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="card-block">
		{% for product in product_list %}
		<div class="card">
			<img src="{{ product.image }}" alt="{{ product.name }}">
			<h3>{{ product.price }}</h3>
			<h3>{{ product.brand }}</h3>
			<p>{{ product.name }}</p>
			<form action="" method = "GET">
				<input id="btn-describe" type="hidden" value="{{ product.id }}" name="description">
				<button class="description">Description</button>
			</form>
		</div>
		{% endfor %}
		<ul class="pagination">
	{% if is_paginated %}
		{% if page_obj.has_previous %}
		    <li><a href="?{% param_replace page=1 %}">&laquo; Début</a></li>
		    <li><a href="?{% param_replace page=page_obj.previous_page_number %}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
		{% endif %}
		{% for i in page_obj.paginator.page_range %}
		    {% if page_obj.number == i %}
		        <li><span class="page-number">{{ i }}</span></span></li>
		    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
		        <li><a href="?{% param_replace page=i %}">{{ i }}</a></li>
		    {% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
		    <li><a href="?{% param_replace page=page_obj.next_page_number %}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
		    <li><a href="?{% param_replace page=page_obj.paginator.num_pages %}">Fin &raquo;</a></li>
		{% endif %}
	{% endif %}
		</ul>
	</div>
</div>
{% include 'store/describe.html' %}
{% endblock %}

{% block footer %}
{% endblock %}