{% load static %}

{% block content %}	
<div class="slider-body">
	<section class="slider content active">
		<div class="slider-text">
			<div class="text1">
				<h2>Tu aimes les vestes ?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<a href="#" class="more">En savoir plus</a>
			</div>
		</div>
		<div class="slider-picture">
			<div class="picture1">
				<img src="{% static '/img/1.jpeg' %}" alt="image02" />
			</div>
		</div>
	</section>
	<section class="slider content" style="position:absolute; left:0;">
		<div class="slider-text">
			<div class="text1">
				<h2>Une bonne paire de basket</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<a href="#" class="more">En savoir plus</a>
			</div>
		</div>
		<div class="slider-picture">
			<div class="picture1">
				<img src="{% static '/img/2.jpeg' %}" alt="image02" />
			</div>
		</div>
	</section>
	<section class="slider content" style="position:absolute; left:0;">
		<div class="slider-text">
			<div class="text1">
				<h2>Un bon sac à dos</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<a href="#" class="more">En savoir plus</a>
			</div>
		</div>
		<div class="slider-picture">
			<div class="picture1">
				<img src="{% static '/img/3.jpeg' %}" alt="image02" />
			</div>
		</div>
	</section>
	<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
</div>
{% endblock %}