{% load static %}

{% block content %}
<div class="carousel">
	<div class="carousel-track-container">
		<ul class="carousel-track">
			<li class="carousel-slide active">
				<img class="carousel-image" src="{% static '/img/1.png' %}">
			</li>
			<li class="carousel-slide">
				<img class="carousel-image" src="{% static '/img/2.png' %}">
			</li>
			<li class="carousel-slide">
				<img class="carousel-image" src="{% static '/img/3.png' %}">
			</li>
			<li class="carousel-slide">
				<img class="carousel-image" src="{% static '/img/4.png' %}">
			</li>
			<li class="carousel-slide">
				<img class="carousel-image" src="{% static '/img/5.png' %}">
			</li>
		</ul>
	</div>
</div>	
<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
{% endblock %}