{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="we-are-block">
  <div id="about-us-section">
    <div class="about-us-image">
      <img src="{% static 'img/nous.jpg' %}" alt="Lobby Image">
    </div>
    <div class="about-us-info">
      <h2>Commerce Digital</h2>
      <p>Markedet, situé à Pointe-à-Pitre, permet aux entreprises de créer et de gérer facilement leur présence numérique et leur logistique, ce qui signifie que nous pouvons rendre votre entreprise plus efficace et plus rentable ! Nous croyons en notre communauté et voulons aider notre économie commerciale locale à croître et à se développer. Nous croyons en nos clients et souhaitons contribuer à leur réussite numérique. L'équipe D-UP nous note sur les résultats, pas sur les ventes.</p>
      <a href="#" title="About Us Button">NOUS</a>
    </div>
  </div>
  <div id="history-section">
    <div class="history-image">
      <img src="{% static 'img/usine-darboussier.jpg' %}" alt="Building Pic">
    </div>
    <div class="history-info">
      <h2>Sauvegarder le patrimoine local</h2>
      <p>En 2018, l'entreprise Markedet a trouvé un nouveau chez-soi, sur le site de l'ancienne Usine sucrière Darboussier. Depuis la prise de contrôle du bâtiment vieux de 118 ans (anciennement Stippler Tool & Supply et Crown Chair Company), de nombreuses rénovations ont été effectuées pour préserver ce morceau local de Pointe-à-Pitre, dans l'histoire.</p>
      <a href="#" title="History Button">HISTOIRE</a>
    </div>
  </div>
</div>
{% endblock %}