{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="dashboard-title">
	<h1>Mon compte</h1>
</div>
<div style="font-size: 20px;">Gerer vos <b>commandes</b> et vos informations personnelles.</div>
<hr>
<div class="card-body">
	<a href="{% url 'order-history' %}" class="dashboard-card">
		<i class="fa-solid fa-gift" style="font-size: 40px;"></i>
	  	<div class="container-card">
	    	<h4><b>Commande</b></h4>
	    	<p>Suivre, retourner ou acheter à nouveau</p>
	  	</div>
	</a>
	<a href="{% url 'account-detail' %}" class="dashboard-card">
		<img src="{% static '/img/security.ico' %}">
	  	<div class="container-card">
	    	<h4><b>Connexion & sécurité</b></h4>
	    	<p>Modifier le nom, le mot de passe ou autre</p>
	  </div>
	</a>
	<a href="{% url 'address' %}" class="dashboard-card">
		<img src="{% static '/img/address.ico' %}">
	  	<div class="container-card">
	    	<h4><b>Mon adresse</b></h4>
	    	<p>Modifier les adresses de livraison des commandes</p>
	  	</div>
	</a>
</div>
{% endblock %}