{% extends 'base.html' %}

{% load static %}

{% block title%}Order History{% endblock%}

{% block content%}
{% for article in articles %}
<table class="order-board">
    <thead>
        <tr class="order-title">
            <th class="column-30">Commande effectuée le</th>
          	<th class="column-25">Totale</th>
          	<th class="column-30">Livrée à</th>
          	<th class="column-25">N°Commande</th>
        </tr>
    </thead>
    <tbody>
        {% for a in article %}
        <tr class="order-body">
            <td class="column-30">{{ a.order.created }}</td>
            <td class="column-25">{{ a.get_total_price | floatformat:2}} €</td>
            <td class="column-30">{{ user | capfirst }}</td>
            <td class="column-25">{{ a.order.order_key }}</td>
        </tr>
        <tr class="order-description">
        	<td class="column-35"><img class="order-pic" src="{{ a.product.image }}"></td>
        	<td class="column-65">
        		<div class="order-text">
        			<h4 class="column-30">{{ a.product }}</h4>
        			<p class="column-65">{{ a.product.description }}</p> 
        		</div>
        	</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock%}