/*slider content*/
.carousel {
	width: 80%;
	height: 600px;
	position: relative;
	margin: 0 auto;
}

.carousel-image {
	width: 100%;
	height: 100%;
	object-fit: cover;	
}

.carousel-track-container {
	height: 100%;
	position: relative;
}

.carousel-track {
	margin: 0;
	padding: 0;
	list-style: none;
}

.carousel-slide {
	top: 0;
	bottom: 0;
	position: absolute;
}

