*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body{
	margin-left: 5rem;
	margin-right: 5rem;
	background-color: #f0f0f3ba;
}

a{
	color: #000;
	text-decoration: none;
}

nav{
	width: 50%;
}

ul{
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	font-size: 19px;
	font-weight: 700;
	line-height: 80px;
}

header{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-left: -3rem;
	margin-bottom: 5rem;
}

nav ul li{
	display: inline-block;
	justify-content: space-evenly;

}

footer{
	font-size: 19px;
	margin: 5rem;
	top: 400%;
	position: absolute;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 19px;
	text-align: center;
}

.login-form a {
	color: #cfae1b;
}


#valid-text {
	font-size: 16px;
	cursor: pointer;
	border-radius: 30px;
	background-color: #cfae1b;
	padding: 8px 40px;	
}

.parallax-one{
	background-image: url("../img/bg-1.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 500px;
}

.parallax-two{
	background-image: url("../img/bg-2.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 500px;
}

.parallax-three{
	background-image: url("../img/bg-3.jpeg");
	background-size: 95%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 350%;
	position: absolute;
	width: 100%;
	height: 500px;
}

.login-btn{
	font-size: 19px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 30px;
	background-color: #cfae1b;
	padding: 8px 40px;
}

.banner{
	display: flex;
	margin-top: 100px;
	margin-bottom: 100px;
	height: 100%;
}

.banner-text .banner-picture{
	width: 50%;
}

.banner-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 5rem;
	margin-right: 5rem;
}
.banner-picture{
	margin-right: 5rem;
}

.line{
	border-top: 2px solid #000;
	width : 80%;
}

.banner-text h1{
	font-size: 51px;
	color: #000;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0.5rem;
}

.banner-text p{
	font-size: 19px;
	margin: 30px;
	letter-spacing: 1px;
	color: #000;
}

.banner-picture{
	border-radius: 15px;
}

.btn-group{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	position: relative;
}

.btn-group button{
	font-size: 19px;
	cursor: pointer;
	color: #000;
	text-align: center;
	font-weight: 700;
	border: none;
	border-radius: 32px;
	background-color: #cfae1b;
	padding: 15px 50px;
	margin: 0 25px;
}

.more{
	font-size: 19px;
	cursor: pointer;
	color: #000;
	text-align: center;
	font-weight: 700;
	border: none;
	border-radius: 32px;
	background-color: #cfae1b;
	padding: 15px 50px;
	margin: 0 25px;
}

.slider{
	display: flex;
	justify-content: center;
	margin: 5rem;
	height: 100%;
	font-size: 19px;
	top: 220%;
	position: absolute;
	opacity: 0;
	transition: opacity 2s;
}

.slider.active{
	opacity: 1;
}

.slide-one .slide-two .slide-three{
	display: flex;
}

.text1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10rem;
}

.text1 p{
	font-size: 19px;
	margin: 30px;
	letter-spacing: 1px;
	color: #000;
}

.slider-text{
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	margin: 0.5rem;
}

.slider-picture{
	display: flex;
	margin: 0.5rem;
	width: 50%;
}

.picture1 img{
	border-radius: 50%;
	object-fit: cover;
	width: 75%;
}
.collection {
	display: flex;
		justify-content: space-between;
		align-items: center;
}

.category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-category {
	border-style: none;
	font-size: 25px;
	cursor: pointer;
	background-color: white;
}

.title-collection {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.title-collection h1 {
	left: 800px;
	position: absolute;
}

.side-nav {
	width: 15%;
	display: flex;
	flex-direction: column;
}

.card-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 70%;

}

.card {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 5px 20px #ffffff;
	margin: auto;
	margin-bottom: 100px;
}

.card img {
	width: 60%;
}

.card h3 {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

.card h4 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}

.card p {
	text-align: center;
	font-size: 15px;
	font-weight: 400;
}

.side-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.side-nav ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
		font-weight: 400;
		text-align: center;
}

.category-list {
	margin-bottom: 50px;
}

.brand-list {
	height: 300px;
	overflow: scroll;
}

.brand-list::-webkit-scrollbar {
	display: none;
}

#side-category {
	font-size: 16px;
	font-weight: 400;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-left: 10px;
}

.pagination li {
	margin: 5px;
}

.page-number {
		background-color: #cfae1b;
		font-size: 35px;
		border-radius: 15px;
}

.description {
	font-size: 18px;
}

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: #fff;
	height: auto;
	width: 800px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	padding: 45px;
}

.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

.element {
	margin: 12px;
}

.add-to-cart {
	font-size: 25px;
	width: 250px;
}

.cart-body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.cart-header {
	text-align: center;
	margin-bottom: 50px;
}

.cart-row {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;

}

.cart-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.cart-image img {
	width: 100%;
}

.cart-center {
	display: flex;
	width: 60%;
}

.cart-product {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 35%;
}

.cart-product input{
	border-style: none;
	font-size: 24px;
	font-weight: 600;
}

.cart-qty {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-options {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 65%;
	margin: 0;
	padding: 0;
}


.cart-options button	{
	border-style: none;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}

.cart-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.btn-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.btn-order {
	font-size: 24px;
	font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: #cfae1b;
	width: 300px;
}
