@import url('login.css');
@import url('homepage.css');
@import url('categories.css');
@import url('products.css');
@import url('modal.css');
@import url('cart.css');
@import url('checkout.css');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body{
	margin-left: 5rem;
	margin-right: 5rem;
	background-color: #f0f0f3ba;
}

a{
	color: #000;
	text-decoration: none;
}

nav{
	width: 50%;
}

.nav-content {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	font-size: 19px;
	font-weight: 600;
	line-height: 80px;
}

.li-account {
	display: inline-flex;
	align-items: center;
	height: 20px;
}

#user-account {
	font-size: 16px;
	font-weight: 300;
	height: 20px;
}

#account-list {
	height: 160px;
}

#cart-count {
    position: relative;
    height: 0px;
    left: 85px;
    top: -80px;
    font-size: 16px;
    color: #ff0101;
}

.account {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
    margin-top: 63px;
	margin-left: 15px;
}

header{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-left: -3rem;
	margin-bottom: 5rem;
}

footer{
	font-size: 19px;
	margin: 5rem;
}

.logo-pic {
	width: 50%;
}

.categories {
	margin-top: 200px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}