<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Markedet</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
	{% block nav %}
	<header>
		<div class="logo">
			<a href="{% url 'category' %}"><img class="logo-pic" src="{% static '/img/logo3.png' %}"></a>
		</div>
		<nav>
			<ul class="nav-content">
				{% if user.is_authenticated %}
				<li class="nav-option">
					<a href="{% url 'dashboard' %}">
					<div class="li-account">
							<i class="fa-solid fa-user"></i>
							<p id="user-account">Bonjour {{ user | title }}<br><strong>Compte & Listes </strong></p> 
					</div>
					</a>
				</li>
				<li class="nav-option">
					<a href="{% url 'cart' %}">
						<div class="li-cart">
							<i class="fa-solid fa-cart-shopping"></i>
							<p id="cart-count">Panier</p>
						</div>
					</a>
				</li>
				{% else %}
				<li class="nav-option"><a href="{% url 'category' %}"><i class="fa-regular fa-shop"></i> Boutique</a></li>
				<li class="nav-option"><a href=""><i class="fa-solid fa-circle-info"></i> À propos</a></li>
				<li class="nav-option"><a href=""><i class="fa-solid fa-envelopes-bulk"></i> Contact</a></li>
				{% endif %}
			</ul>
			<ul class="nav-content-resp">
				{% if user.is_authenticated %}
				<li class="nav-option-resp"><a href="{% url 'dashboard' %}"><span style="font-size: 13px">Bonjour {{ user | title }}</span><br><strong>Compte & Listes </strong></a></li>
				<li class="nav-option-resp"><a href="{% url 'cart' %}"><strong id="cart-count-resp">Panier</strong></a></li>
				{% else %}
				<li class="nav-option-resp"><a href="{% url 'category' %}">Boutique</a></li>
				<li class="nav-option-resp"><a href="">À propos</a></li>
				<li class="nav-option-resp"><a href="">Contact</a></li>
				{% endif %}
			</ul>
		</nav>
		{% if user.is_authenticated %}
		<a class="logout-btn" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
		{% else %}
		<a class="login-btn" href="{% url 'login' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
		{% endif %}
	</header>
	{% endblock %}
	{% block content %}
	<div class="carousel">
		<div class="carousel-track-container">
			<ul class="carousel-track">
				<li class="carousel-slide active">
					<img class="carousel-image" src="{% static '/img/1.png' %}">
				</li>
				<li class="carousel-slide">
					<img class="carousel-image" src="{% static '/img/2.png' %}">
				</li>
				<li class="carousel-slide">
					<img class="carousel-image" src="{% static '/img/3.png' %}">
				</li>
				<li class="carousel-slide">
					<img class="carousel-image" src="{% static '/img/4.png' %}">
				</li>
				<li class="carousel-slide">
					<img class="carousel-image" src="{% static '/img/5.png' %}">
				</li>
			</ul>
		</div>
	</div>	
	<ul class="categories">
		{% for category in categories  %}
		<li class="category">
			<form class="category-form" action = "{% url 'products' %}" method = "get">
			<input  class="btn-category-home" type="submit" value="{{ category.name | upper }}" name="category">
	    	<img class="category-image" src="{{ category.image }}" alt="{{ category.name }}">
			</form>	
		</li>
		{% endfor %}
	</ul>
	<footer>

	</footer>
	<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
	{% endblock%}
	{% block footer %}
	{% endblock %}
	<script type="text/javascript" src="{% static 'js/session.js' %}"></script>
	{% if user.is_authenticated %}
	<script type="module" src="{% static 'js/cartCount.js' %}"></script>
	{% endif %}
</body>
</html>