<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Markedet</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="navbar">
			<div class="logo">
				<a href="#"><img src="{% static '/img/logo.png' %}"></a>
			</div>
			<div class="menu">
				<ul>
					<li>Home</li>
					<li>Contact</li>
					<li>About</li>
				</ul>
			</div>
			<div class="login-btn">Login</div>	
		</div>
		<div class="banner">
			<div class="app-text">
				<h1>Vendez<br>Reprenez</h1>
				<h3>Offrez une seconde vie au carton du placard</h3>
				<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
				<div class="btn-group">
					<div class="signup-btn">S'inscrire</div>
					<div class="signin-btn">Se connecter</div>
				</div>
			</div>
			<div class="app-picture">
				<div class="picture">
					<img src="{% static '/img/shopping-online.jpg' %}">
				</div>			
			</div>
		</div>
		<div class=""></div>
		<div class="about-service">
			<ul>
				<li>
					<img src="{% static '/img/add.png' %}">
					<h1>Lorem ipsum dolor sit amet</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</li>
				<li>
					<img src="{% static '/img/web.png' %}">
					<h1>Lorem ipsum dolor sit amet</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</li>
				<li>
					<img src="{% static '/img/test.png' %}">
					<h1>Lorem ipsum dolor sit amet</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</li>
			</ul>
		</div>
	</div>
	<polygon points="150.7,516.8 1.5,258.4 150.7,0 449,0 598.2,258.4 449,516.8 "/>
</body>
</html>