{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
  <div class="col-75">
    <div class="checkout-container">
			<div class="row">
				<div class="col-50">
					<h3>Adresse de paiement</h3>
					<label for="fname"><i class="fa fa-user"></i> Nom complet</label>
					<input class="txt" type="text" id="fname" name="fullname" placeholder="John M. Doe">
					<label for="email"><i class="fa fa-envelope"></i> Email</label>
					<input class="txt" type="text" id="email" name="email" placeholder="john@example.com">
					<label for="adr"><i class="fa fa-address-card-o"></i> Adresse</label>
					<input class="txt" type="text" id="adr" name="address" placeholder="12 Cour de la Somme">
					<label for="city"><i class="fa fa-institution"></i> Ville</label>
					<input class="txt" type="text" id="city" name="city" placeholder="Bordeaux">

					<div class="row">
						<div class="col-50">
							<label for="state">Pays</label>
							<input class="txt" type="text" id="state" name="state" placeholder="France">
						</div>
						<div class="col-50">
							<label for="zip">Code postal</label>
							<input class="txt" type="text" id="zip" name="zip" placeholder="33300">
						</div>
					</div>
				</div>
				<div class="col-50">
					<h3>Paiement</h3>
				<form id="payment-form">
						<div class="col-50">
							<div class="container">
								<h4>Panier
									<span class="price" style="color:black">
										<i class="fa fa-shopping-cart"></i>
										<b>{{ count }}</b>
									</span>
								</h4>
								{% for line in orderline %}
								<p><a href="#">{{ line.product }} ({{ line.quantity }})</a> <span class="price">{{ line.get_total_price | floatformat:2 }} €</span></p>
								{% endfor %}
								<hr>
								<p>Total <span class="price" style="color:black"><b>{{ total | floatformat:2}} €</b></span></p>
							</div>
					</div>
					<div id="payment-element" class="col-50">
						<!-- Elements will create form elements here -->
					</div>
					<button type="submit" data-secret="{{ client_secret }}" class="btn" id="submit">Payer</button>
					<div id="error-message">
						<!-- Display error message to your customers here -->
					</div> 
				</form>
				</div>
			</div>
		</div>
	</div>
</div>



<script src="https://js.stripe.com/v3/"></script>
<script type="module" src="{% static 'js/checkout.js' %}"></script>
{% endblock %}