{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="">
        <div class="row">
          <div class="col-50">
            <h3>Adresse de paiement</h3>
            <label for="fname"><i class="fa fa-user"></i> Nom complet</label>
            <input class="txt" type="text" id="fname" name="firstname" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input class="txt" type="text" id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Adresse</label>
            <input class="txt" type="text" id="adr" name="address" placeholder="12 Cour de la Somme">
            <label for="city"><i class="fa fa-institution"></i> Ville</label>
            <input class="txt" type="text" id="city" name="city" placeholder="Bordeaux">

            <div class="row">
              <div class="col-50">
                <label for="state">Pays</label>
                <input class="txt" type="text" id="state" name="state" placeholder="France">
              </div>
              <div class="col-50">
                <label for="zip">Code postal</label>
                <input class="txt" type="text" id="zip" name="zip" placeholder="33300">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Paiments</h3>
            <label for="fname">Cartes acceptées</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="font-size: 45px;"></i>
              <i class="fa fa-cc-amex" style="color:blue; font-size: 45px;"></i>
              <i class="fa fa-cc-mastercard" style="color:red; font-size: 45px;"></i>
              <i class="fa fa-cc-discover" style="color:orange; font-size: 45px;"></i>
            </div>
            <label for="cname">Nom sur la carte</label>
            <input class="txt" type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Numéro de carte</label>
            <input class="txt" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Mois d'expiration</label>
            <input class="txt" type="text" id="expmonth" name="expmonth" placeholder="Septembre">

            <div class="row">
              <div class="col-50">
                <label for="expyear">Année d'expiration</label>
                <input class="txt" type="text" id="expyear" name="expyear" placeholder="2018">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input class="txt" type="text" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Adresse de livraison identique à celle de facturation
        </label>
        <input type="submit" value="Payer" class="btn">
      </form>
    </div>
  </div>

  <div class="col-25">
    <div class="container">
      <h4>Panier
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>{{ count }}</b>
        </span>
      </h4>
      {% for line in order %}
      <p><a href="#">{{ line.product }}</a> <span class="price">{{ line.get_total_price }}</span></p>
      {% endfor %}
      <hr>
      <p>Total <span class="price" style="color:black"><b>{{ total | floatformat:2}}€</b></span></p>
    </div>
  </div>
</div>
{% endblock %}